img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--clr-background);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(17, 17, 17);
    }
}