@use '../util/' as *;

body {
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: var(--font-size-default);
}

p,
li,
h1,
h2,
h3,
h4 {
    hyphens: auto;
    margin-top: 0;
    overflow-wrap: break-word;
}