@use '../util/' as *;

body {
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: rem(16px);
    line-height: 1.2;
    @include breakpoint(medium) {
        font-size: rem(18px);
    }
    @include breakpoint(xlarge) {
        font-size: rem(20px);
    }
}

p,
li,
h1,
h2,
h3,
h4 {
    hyphens: auto;
    margin-top: 0;
    overflow-wrap: break-word;
}