@use '../util/' as *;

.c-navbar {
    height: 0;
    overflow: hidden;
    transition: var(--transition);

    @include breakpoint(large) {
        display: flex;
        height: auto;
    }
}

.c-navbar--show-links {
    height: 100%;
}

.c-navbar__link {
    display: block;
    padding: rem(16px);
    color: var(--clr-black);
    font-size: var(--font-step--0);
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1;
    transition: var(--transition);

    &:hover {
        background-color: var(--clr-medium-green);
        padding-left: rem(36px);
    }

    @include breakpoint(large) {
        &:hover {
            background: none;
            padding-left: rem(16px);
            color: var(--clr-medium-green);
        }

    }
}