@use '../util/' as *;

.l-about {
    background-color: var(--clr-background);
    max-width: var(--width-full);
    margin: 0 auto;

    @include padding;
    @include breakpoint(large) {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }
}

.l-about .c-title {
    grid-column: 1 / -1;
    align-self: end;
}

.l-about__wrapper-img {
    grid-column: 1;
    justify-self: end;
    @include breakpoint(large) {
        padding-right: rem(70px);
    }
}

.l-about__img {
    margin: 0 auto;
}

.l-about__text {
    grid-column: 2;
    @include breakpoint(large) {
        max-width: rem(600px);
    }
}

.l-about__text-title {
    padding-top: rem(16px);
    text-transform: uppercase;
    line-height: 1.1;
}

.l-about__text-paragraph {
    padding-top: rem(16px);
}