@use '../util/' as *;

.l-header {
    display: flex;
    justify-content: center;
}

.l-header__content {
    position: fixed;
    box-shadow: var(--dark-shadow);
    background-color: var(--clr-background);
    width: 100%;
    max-width: var(--width-full);
    z-index: 10;
    
    @include padding;
    @include breakpoint(large) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.l-header__content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-header__btn-menu {
    background: transparent;
    cursor: pointer;
    color: var(--clr-medium-green);
    font-size: rem(28px);
    transition: var(--transition);

    &:hover {
        transform: scale(1.2);
    }
    @include breakpoint(large) {
        display: none;
    }
}

.l-header__content .c-nav-social {
    display: none;

    @include breakpoint(large) {
        display: flex;
    }
}